@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Courier New", Courier, monospace;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d4ccb4;
}

.body {
  background-color: #d4ccb4;
}

/* Menu Navegação */

header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #d4ccb4;
  padding: 1rem 0 3rem 0;
  display: flex;
  flex-direction: row;
}

i#burguer {
  display: none;
}

.container {
  display: none;
}

.cabecalho {
  display: flex;
  background-color: #2c1c04;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", "Courier New", Courier, monospace;
  font-weight: bold;
  align-items: center;
  margin: auto;
  box-shadow: 1px 1px 5px 1px #2c1c04;
  padding: 0 0 0 14rem;
  width: 100%;
}

.logoheader {
  display: flex;
  margin: 1%;
}

.imglogoheader {
  display: flex;
  position: absolute;
  margin: auto;
  width: 12rem;
  height: 6rem;
  box-shadow: 3px 3px 3px 1px #2c1c04;
  border: #2c1c04 solid 0.5px;
}

.menu1,
.menu2,
.menu3,
.menu4{
  flex: 1;
  padding: 1%;
  text-align: center;
}

.cabecalho .a {
  text-decoration: none;
  color: #d4ccb4;
  font-size: 1.3rem;
  white-space: nowrap;
  padding: 3% 5%;
}

.cabecalho .a:hover {
  color: #a47c4c;
}

.perfil {
  margin: auto;
}

.iconperfil {
  width: 3rem;
  margin-right: 20px;
}

.iconperfil:hover {
  content: url(../img/perfil_hover.png);
}

.open-login-cadastro {
  display: none;
}

.open-login-cadastro.open2 {
  display: block;
}

.openLoginCadastro {
  position: absolute;
  background-color: #a47c4c;
  top: 12%;
  left: 0;
  width: 100%;
}

.openLoginCadastro ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.openLoginCadastro .nav-item {
  display: flex;
  padding: 0.75rem;
  border-bottom: 2px solid #2c1c04;
}

.menu-mobile .log-cad a {
  text-decoration: none;
  color: #2c1c04;
  font-size: 1rem;
  white-space: nowrap;
  font-weight: bold;
}

.menu-mobile {
  display: none;
}

.perfil {
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-right: 2rem;
}

.openPerfil {
  display: none;
  position: absolute;
  background-color: #2c1c04;
  text-align: justify;
  padding: 0.5%;
  margin-top: 3rem;
  border-radius: 1px;
  z-index: 200;
  text-decoration: none;
}

.openPerfil .navlogin {
  color: #d4ccb4;
  text-decoration: none;
  padding: 2%;
  margin: 1%;
}

.openPerfil .navcadastro {
  color: #d4ccb4;
  text-decoration: none;
  padding: 2%;
  margin: 1%;
}

.navlogin:hover {
  zoom: 105%;
  color: #a47c4c;
}

.navcadastro:hover {
  zoom: 105%;
  color: #a47c4c;
}

/* Fundo amadeirado */

.fundomadeira {
  width: 100%;
  display: flex;
  background-size: cover;
  background-image: url(../img/fundo_madeira.png);
  background-repeat: no-repeat;
  height: 10rem;
  justify-content: center;
  align-items: center;
}

.fundomadeira .textoh1 {
  color: #d4ccb4;
  font-weight: 900;
  width: 100%;
  text-align: end;
}

.textoh1 h1 {
  font-family: "Montserrat";
  margin: 0;
  padding: 2%;
}

/* Main  */

.principal {
  font-family: "Open Sans";
  color: #a37c4c;
  font-size: 1.25rem;
  padding: 1rem;
  max-width: 37.5rem;
  margin: auto;
  width: 100%;
}

/* Home Banner */

.carousel-caption {
  position: absolute;
  display: flex;
}

.btnorcamento {
  display: flex;
  z-index: 50;
  padding: 0.8%;
  border-radius: 13px;
  border: none;
  cursor: pointer;
  background-color: #d4ccb4;
  color: #2c1c04;
}

.btnorcamento:hover {
  background-color: #a47c4c;
}

.btnorcamento .linkbtn {
  text-decoration: none;
  font-family: "Montserrat", "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: bold;
  color: #2c1c04;
}

.corfundo {
  background-color: #d4ccb4;
  margin: 0;
}

.faixinhaEntrega {
  display: flex;
  background-color: #d4ccb4;
  width: 100%;
}

.frete-faixa {
  color: #a47c4c;
  text-align: center;
  padding: 3%;
  position: relative;
  width: 100%;
  font-size: 1.5rem;
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: left;
  align-items: center;
  animation: mover 12s linear infinite;
}

@keyframes mover {
  0% {
    transform: translateX(-50rem);
  }
  100% {
    transform: translateX(93.75rem);
  }
}

.caminhao {
  width: 2.5rem;
  margin-right: 0.625rem;
}

.frete-faixa span {
  font-weight: bold;
  margin-right: 0.625rem;
  white-space: nowrap;
}

/* Decorados */

.decorados {
  display: flex;
  width: 100%;
  background-color: #d4ccb4;
}

.mensagemMobile {
  display: none;
}

.flip-card {
  background-color: transparent;
  width: 50%;
  height: 18.75rem;
  perspective: 62.5rem;
  margin: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front img {
  width: 100%;
  height: 18.75rem;
  padding: 1%;
}

.flip-card-back {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #2c1c04;
  color: #d4ccb4;
  transform: rotateY(180deg);
}

.flip-card-back h1 {
  font-size: 1.8rem;
  margin: auto;
  font-family: "Montserrat", "Courier New", Courier, monospace;
  padding: 1%;
  white-space: nowrap;
}

/* Avaliação Clientes */

.avaliacaoClientes {
  background-color: #d4ccb4;
  padding: 3% 0;
}

.clientes {
  color: #2c1c04;
  font-size: 1.8rem;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  width: 100%;
}

.avaliacoes {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin: 3rem 0;
  background-color: #d4ccb4;
}

.av1,
.av2,
.av3 {
  width: 98%;
}

#carouselExampleSlidesOnly {
  display: none;
}

/* Quem Somos */

.texto-quem-somos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
  color: #805f36;
  font-weight: 400;
  text-align: justify;
  width: 70%;
  padding: 1.5rem;
  border-radius: 1rem;
}

.strong {
  font-weight: bold;
}

.portfolio-quemsomos {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0rem 0.5rem 0rem 1rem;
  color: #f3ebde;
  position: relative;
  width: 80%;
  height: 40rem;
  overflow: hidden;
}



.portfolio-quemsomos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-quemsomos {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: nowrap;
}

.logo-quemsomos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 1rem;
  flex: 1;
  max-width: 30rem;
}

.logo-quemsomos figcaption {
  font-size: 1.7rem;
  font-weight: bolder;
  color: #2c1c04;
  margin: 0;
}

.logo-quemsomos img {
  width: 6vw;
  height: 11vh;
  max-width: 25rem;
  border-radius: 8px;
}

.logo-quemsomos p, .li-valores{
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
  padding: 0 1rem;
  color:#2c1c04;
  font-weight: bold;
  text-align:left;
}

.container-quemsomos {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem em novas linhas em telas menores */
  justify-content: space-around; /* Distribui espaço entre os itens */
  gap: 1rem; /* Espaço entre os itens */
}

/* Vídeo */

.videobanner {
  margin-top: 3rem;
  width: 100%; 
  background-color: #ccc;
  overflow: hidden;
  min-width: 300px; 
  max-width: 100%;
}

.videobanner video { 
  width: 100%;
  object-fit: cover; 
}

/* Cadastro */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin: auto;
  margin-top: 2rem;
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dados,
.email-login3,
.login-senha {
  width: 100%;
  padding: 0.2rem;
  border: 0;
  border-radius: 4px;
  outline: 0;
}

.cpfedata,
.email-login {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.cpf,
.datanasc,
.email-login2,
.senha-login {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cpf input,
.datanasc input,
.senha-login input {
  width: 100%;
  margin: 0.25rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.senha-login {
  position: relative;
}

.bi-eye-fill,
.bi-eye-slash-fill {
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: 5%;
  bottom: 1.5%;
}

.inline {
  width: 100%;
  margin: 0.25rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.fimform {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

.fimform input {
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #a47c4c;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.cadastrar:hover{
  background-color: #2c1c04;
}



.fieldset1 {
  margin-top: 2%;
  width: 100%;
}

.fieldset2 {
  display: flex;
  border-top: 0.125rem solid #636363;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 2rem 0;
}

.fim {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  font-size: 1.1rem;
}

.conta {
  text-decoration-line: underline;
  color: #a37c4c;
}

.conta:hover {
  color: #a37c4c; 
  text-decoration: underline; 
  zoom: 102%;
}


/* Main Login */

.rec-senha {
  color: #a47c4c;
  text-decoration: underline;
}

.rec-senha:hover{
  color: #a37c4c; 
  text-decoration: underline; 
  zoom: 102%;
  
}

.login {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

.login input {
  width: 30%;
  margin-left: 70%;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #a47c4c;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.logar:hover{
  background-color: #2c1c04;

}

.login-senha{
 height: 2.5rem;
}

.logo-google,
.facebook-logo {
  height: 4rem;
  width: 4rem;
  margin-left: 25%;
}

.logogoogle:hover{
  text-decoration: none;
}

.cadastre-se {
  margin-bottom: 30%;
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #a47c4c;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer; 
}

.cadastre-se:hover{
  text-decoration: none;
  color: #fff;
  background-color: #2c1c04;
}



/* Blog */

.blog {
  text-align: center;
  padding: 50px 20px;
}

.blog h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 30px;
  color: #2c1c04;
}

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3ebd3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 50px rgba(5, 5, 5, 5.1);
  margin-bottom: 20px;
  transition: 0.3s ease;
  cursor: pointer;
  width: 80%;
  margin: 20px auto;
}

.blog-post img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.blog-post p {
  font-size: 20px;
  font-weight: bold;
}

.text-box {
  display: none;
  background-color: #a47c4c;
  text-align: justify;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.text-box p {
  font-size: 16px;
  color: #2c1c04;
}

/* Portfolio */

.title-portfolio {
  text-align: center;
  margin: 3rem;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 30px;
  color: #2c1c04;
}

.portfolio {
  margin-bottom: 8rem;
}

/* Orçamento */

.pag-orcamento {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.fundo-orcamento {
  display: flex;
  width: 50%;
  height: 37.5rem;
}

.fundo-casa {
  display: flex;
  width: 50%;
  height: 37.5rem;
}

.title-orcamento {
  display: block;
  position: absolute;
  text-wrap: wrap;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.7rem;
  color: #2c1c04;
  width: 50%;
  height: 40%;
  padding: 10% 2%;
  overflow: wrap;
  margin: auto;
}

.form-orcamento {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 37.5rem;
}

.divform {
  margin: auto;
  display: flex;
  border: #d4ccb4 3px solid;
  border-radius: 15px;
}

.orcamento {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
  color: #2c1c04;
  text-align: center;
  padding: 1%;
}

.labelOrcamento {
  display: flex;
  flex-direction: column;
  width: 95%;
  font-family: "Montserrat";
  font-weight: bold;
  color: #2c1c04;
}

.dadosOrcamento {
  width: 95%;
  padding: 0.5%;
  border: 2px solid #d4ccb4;
  border-radius: 4px;
  box-sizing: border-box;
}

#solicitarOrcamento {
  font-family: "Montserrat";
  font-weight: bold;
  color: #2c1c04;
  padding: 1%;
  margin: 2%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #d4ccb4;
}

#solicitarOrcamento:hover {
  background-color: #a47c4c;
}

.imgcheckorc{
  display: flex;
  margin: auto;
  width: 15%;
  height: 50%;
}

.checkorc{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 37.5rem;
  margin: auto;
  width: 100%;
}

.orcamento2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
  color: #2c1c04;
  text-align: center;
  padding: 1%;
}

.embreve{
  color: #2c1c04;
  display: flex;
  margin: auto;
}

/*status-pedido*/
#solicitar-status{
  font-family: "Montserrat";
  font-weight: bold;
  color: #2c1c04;
  padding: 1%;
  margin: 2%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #d4ccb4;

}
#solicitar-status:hover {
  background-color: #a47c4c;
}
.status-list, .order-details {
  flex: 1;
  background-color: #f9f5f0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.status-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}
.status-item:hover {
  background-color: #f4ebe2;
}
.status-item.active {
  border-color: #c8a883;
  background-color: #fff3e0;
}

.status-img{
  display: flex;
  width: 100%;
  height: 50%;
}

.labelstatus{
  display: flex;
  flex-direction: column;
  width: 95%;
  font-family: "Montserrat";
  font-weight: bold;
  color: #2c1c04;
}

.dadostatus{
  width: 95%;
  padding: 0.5%;
  border: 2px solid #d4ccb4;
  border-radius: 4px;
  box-sizing: border-box;
}

.status-texto{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
  color: #2c1c04;
  text-align: center;
  padding: 1%;
}


/* Footer */
.fundo {
  display: flex;
  background-color: #f3ecd4;
  color: #2c1c04;
  font-family: "Montserrat";
  font-weight: bold;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;
}

.logofooter {
  width: 22%;
}

.contatos,
.endereco {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.email,
.tel {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1.2rem;
  justify-content: left;
}

.email .emailribeiro {
  text-decoration: none;
  color: inherit;
}

.emailribeiro:hover {
  text-decoration: underline;
}

.contatos,
.endereco {
  margin-bottom: 0.5rem;
}

address {
  white-space: nowrap;
  font-size: 1.2rem;
}

.icone {
  width: 1.2rem;
}

/* WhatsApp */

.icon {
  position: fixed;
  bottom: 3.75rem;
  right: 1.875rem;
  font-size: 1.875rem;
  background-color: #01e675;
  color: #fff;
  border-radius: 50%;
  padding: 0.1875rem;
  width: 3.125rem;
  height: 3.125rem;
  text-align: center;
  text-decoration: none;
  z-index: 100;
  box-shadow: 0.125rem 0.125rem 0.125rem #c0bdbd;
}

.icon .fab {
  padding-top: 0.5625rem;
}

.icon:hover {
  background-color: #fff;
  color: #029e3b;
  font-weight: 900;
  box-shadow: 0.125rem 0.125rem 1.25rem #5fe690;
}

/* tela de redefinir senha */
body .geral-redefinir {
  background-color: #d4ccb4;
}

.paragrafo {

  color: #a37c4c;
  font-size: 1.25rem;
  max-width: 35.5rem;
  margin: auto;
  width: 100%;
}

.tamanho {
  font-weight: bold;
}

.enviar {
  width: 30%;
  margin-left: 70%;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #a47c4c;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 10rem;
}

.enviar:hover{
  background-color: #2c1c04;
}

.paragrafo {
  font-size: 90%;
  font-weight: 480;
  margin-top: 20%;
}

.email-login3 {
  font-size: 450;
}

/* Confirmação Senha */
.titulo-redefinir {
  line-height: 1rem;
  font-weight: bold;
}

div .logar-redefinir {
  margin: 0 30rem 10rem 0;
  color: black;
  border-color: black;
}

.alterarSenha{
  width: 30%;
  margin-left: 70%;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #a47c4c;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 10rem;
}

.alterarSenha:hover{
  background-color: #2c1c04;
}

/* tela de check */
.paragrafo-check {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #2c1c04;
  font-weight: bold;
  margin: 10%;
}

.input-check {
  display: flex;
  width: 50%; 
  margin: auto;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #a47c4c;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 30%;
}

.input-check:hover{
  color: #fff;
  text-decoration: none;
  background-color: #2c1c04;
}

.imagem-check {
  display: flex;
  margin-right: 1%;
  width: 12%;
  height: 12%;
}

.paragrafo-check p {
  margin: 0;
}



@media screen and (max-width: 1500px) {
  /* Orcamento */

  .pag-orcamento {
    flex-direction: column;
  }

  .form-orcamento {
    width: 80vw;
    margin: auto;
  }

  .fundo-casa {
    margin: auto;
  }

  .fundo-orcamento {
    width: 80vw;
    margin: auto;
  }

  .casa {
    width: 100%;
    height: 80%;
  }

  /* Decorados */

  .flip-card-back h1 {
    font-size: 1.2rem;
  }

  /* footer */

  .contatos,
  .endereco {
    font-size: 1rem;
  }

  .email,
  .tel {
    font-size: 0.9rem;
  }

  .local {
    font-size: 0.9rem;
  }

  /* Quem Somos */

  .texto-quem-somos{
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1000px) {
  /* Menu-Mobile */
  header {
    padding: 0;
  }

  .imglogoheadermobile {
    width: 35%;
  }

  .container {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .d-block {
    height: 15rem;
    width: 100%;
  }

  #menuButton {
    display: flex;
    margin: auto;
  }

  i#burguer {
    display: flex;
    color: #2c1c04;
    cursor: pointer;
    font-size: 2.3rem;
  }

  .menu-mobile {
    position: absolute;
    background-color: #d4ccb4;
    top: 11%;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .menu-mobile .nav-item {
    display: flex;
    padding: 0.75rem;
    border-bottom: 2px solid #2c1c04;
  }

  .menu-mobile .nav-item a {
    text-decoration: none;
    color: #2c1c04;
    font-size: 1rem;
    white-space: nowrap;
    font-weight: bold;
  }

  .nav-item {
    z-index: 1;
  }

  .nav-item a {
    transition: 1s;
  }

  .nav-item a:hover {
    background-color: #a47c4c;
    color: #d4ccb4;
    padding: 5px 10px;
    border-radius: 7px;
  }

  .open {
    display: block;
  }

  .cabecalho {
    display: none;
  }

  /* Banner Carrossel */

  .btnorcamento .linkbtn {
    font-size: 0.8rem;
  }

  .btnorcamento {
    padding: 1%;
  }

  .logoheader {
    display: none;
  }

  /* Decorados */

  .decorados {
    display: flex;
    flex-direction: column;
    padding: 1%;
  }

  /* Footer */

  .fundo {
    flex-direction: column;
  }

  .contatos,
  .endereco {
    font-size: 1.3rem;
  }

  .email,
  .tel {
    font-size: 1.1rem;
  }

  .local {
    font-size: 1.1rem;
  }

  .logofooter {
    width: 35%;
  }

  .imgpagamento {
    width: 100%;
    margin-bottom: 1rem;
  }

  .contatos,
  .endereco,
  .pag {
    flex-direction: column;
    align-items: center;
    margin-top: 1.4rem;
  }

  .email,
  .tel {
    justify-content: left;
  }

  .icone {
    margin: 0;
  }

  /* Orçamento */

  .casa {
    content: url(../img/casamenor.png);
  }

  .fundo-orcamento {
    width: 100%;
    height: 20%;
  }

  .form-orcamento {
    margin-bottom: 3rem;
  }

  .title-orcamento {
    display: none;
  }

  .fundo-casa {
    height: 10rem;
  }
}

@media only screen and (max-width: 768px) {

  
  .menu-mobile {
    top: 3.5rem;
  }

  /* Banner Carrossel */

  .btnorcamento {
    font-size: 0.6rem;
    padding: 2%;
  }

  /* Form Cadastro */

  .cpfedata {
    flex-direction: column;
    gap: 0.5rem;
  }

  .cpf,
  .datanasc {
    width: 100%;
  }

  

  /* Faixinha entrega */

  .frete-faixa {
    font-size: 1rem;
  }
  .caminhao {
    width: 2rem;
    height: 2rem;
  }

  .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: mover 12s linear infinite;
  }

  @keyframes mover {
    0% {
      transform: translateX(-25rem);
    }
    100% {
      transform: translateX(40rem);
    }
  }

  /* Decorados */

  .flip-card:hover .flip-card-inner {
    transform: none;
  }

  .mensagemMobile {
    display: flex;
    width: 100%;
  }

  .h1mensagemMobile {
    max-width: 80%;
    font-size: 1rem;
    font-weight: bold;
    color: #2c1c04;
    margin: auto;
  }

  .flip-card-front img {
    width: 100%;
    height: 15.75rem;
    margin: auto;
  }

  .flip-card {
    width: 100%;
    height: 15.75rem;
    margin: auto;
  }

  .flip-card-back h1 {
    font-size: 1.2rem;
  }

  /* Avaliação Clientes */

  .avaliacaoClientes {
    width: 100%;
    padding: 5% 0;
  }

  .clientes {
    margin: 10% 0;
    font-size: 1.1rem;
  }

  #carouselExampleSlidesOnly {
    display: block;
    margin: auto;
    margin-bottom: 3rem;
    width: 80%;
  }

  .avaliacoes {
    display: none;
  }

   /* Quem Somos */

   .texto-quem-somos{
    font-size: 1rem;
    padding: 0;
    width: 85%;
  }

  .logo-quemsomos img {
    width: 15vw;
    height: 12vh;
  }

  .logo-quemsomos figcaption {
    font-size: 1.7rem;
  }

  .logo-quemsomos p, .li-valores{
    font-size: 1.2rem;
  }

 

  /* Footer */

  .logofooter {
    width: 50%;
  }

  /* Orçamento */

  .divform {
    padding: 1rem;
    max-width: 37.5rem;
    margin: auto;
    width: 100%;
  }

  .form {
    padding: 1rem;
    max-width: 37.5rem;
    margin: auto;
    width: 100%;
  }

  .responsividadeform {
    width: 100%;
    font-size: 0.6rem;
  }
}
